[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[user]
  name = Nazarii Bardiuk
[code]
  editor = nvim
[mergetool "vmerge"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c 'wincmd w' -c 'wincmd J'
[merge]
    tool = vmerge
[mergetool]
    promt = true
[difftool "vdiff"]
    cmd = nvim -d $LOCAL $REMOTE
[diff]
    tool = vdiff
[difftool]
    promt = true
